################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FrontEnd/alttabjournal/node_modules
/FrontEnd/alttabjournal/coverage
/FrontEnd/alttabjournal/dist